html {
    box-sizing: border-box;
    font-size: 14px;
    scrollbar-width: none;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
}

.container {
    width: 100%;
}

.container > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    overflow-x: hidden;
    text-wrap: nowrap;
}

.inverted-colors {
    background-color: #000;
    color: #fff;
}
.inverted-colors::before {
    filter: invert(100%);
}

.folder-name {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.search-cont {
    height: 1.5em;
    width: 100%;
}

.search {
    height: 100%;
    width: 100%;
}

.selected {
    padding-left: 10px;
}

.bookmark-icon {}
.bookmark-icon::before {
    content: url("bookmark.svg");
    height: 16px;
    margin-right: 3px;
    margin-left: 1px;
}

.folder-icon {}
.folder-icon::before {
    content: url("folder.svg");
    height: 16px;
    margin-right: 3px;
    margin-left: 1px;
}

.edit {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 20px;
}
.edit * {
    width: 90%;
}

.sure {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    flex-direction: column;
}
.sure * {
    width: 80%;
}
.sure > button {
    height: 1px;
    width: 1px;
    outline: none;
    border: none;
}